/* Menerapkan outline ke navbar */
.custom-navbar {
  border: 2px solid #ffffff; /* Warna outline dan ketebalan */
  border-radius: 10px; /* Sudut outline */
  margin-bottom: 20px; /* Jarak dari elemen di bawahnya */
  height: 50px; /* Mengatur ukuran tinggi navbar */
}

/* Mengurangi padding dalam navbar */
.custom-navbar .navbar-nav .nav-link,
.custom-navbar .navbar-brand {
  padding-top: 5px; /* Atur padding atas sesuai kebutuhan */
  padding-bottom: 5px; /* Atur padding bawah sesuai kebutuhan */
}

/* Mengubah warna latar belakang navbar */
.custom-navbar .navbar {
  background-color: #c5c5c5; /* Warna latar belakang navbar */
}

/* Mengubah warna teks link navbar */
.custom-navbar .navbar-nav .nav-link {
  color: #ffffff; /* Warna teks link */
}

/* Mengubah warna link saat dihover */
.custom-navbar .navbar-nav .nav-link:hover {
  color: #ff0000; /* Warna teks link saat dihover */
}

/* Mengubah warna teks brand */
.custom-navbar .navbar-brand {
  color: #ffffff; /* Warna teks brand */
}

/* Mengubah warna teks brand saat dihover */
.custom-navbar .navbar-brand:hover {
  color: #ff0000; /* Warna teks brand saat dihover */
}

input[type="email"],
input[type="password"],
input[type="namadepan"],
input[type="namabelakang"],
input[type="search"],
textarea {
  height: 40px;
  width: 100%;
  border: none;
  background: #f4f4f4;
  border-bottom: 2px solid #eee;
  color: #354052;
  padding: 0px 10px;
  opacity: 0.3;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="namadepan"]:focus,
input[type="namabelakang"]:focus,
input[type="search"]:focus,
button[type="submit"]:focus,
textarea:focus {
  opacity: 1;
}

.center-div {
  /* Membuat posisi menjadi ke tengah tanpa merubah posisi konten lainnya */
  display: flex;
  justify-content: center;
}
.center-btn {
  /* Membuat posisi Button ke tengah */
  width: 20cm;
}

.link-btn {
  /* Menghilangkan warna link pada button */
  text-decoration: none;
  color: inherit;
}

.link-txt {
  text-decoration: none;
  color: white;
  transition: color 0.3s; /* Menambahkan efek transisi pada perubahan warna */
}

.link-txt:hover {
  color: red; /* Ganti warna teks saat kursor dihover */
}

.position-form {
  /* Mengatur posisi konten form isian */
  text-align: left;
  margin: auto;
}

.input-box {
  /* Mengatur panjang dan lebar kotak form isian */
  width: 450px;
  padding: 5px;
  margin-bottom: 5px;
}
.rata-kanan-link-signup {
  /* Mengatur posisi Link SignUp pada form login menjadi tengah */
  text-align: center;
}
.button-container {
  display: flex;
  align-items: center; /* Pusatkan vertikal */
  justify-content: flex-end; /* Letakkan tombol di sebelah kiri */
  gap: 15px; /* Jarak antara tombol dan emoji */
}
.custom-button {
  height: 33px; /* Sesuaikan tinggi tombol dengan tinggi header */
  width: 85px; /* Sesuaikan lebar tombol sesuai kebutuhan */
}
.emoji {
  font-size: 20px; /* Ukuran emoji */
  animation: bounce 2s infinite; /* Gunakan animasi 'bounce' selama 2 detik, ulangin tak terbatas */
}

@keyframes bounce {
  0%,
  0% {
    transform: translateX(
      0
    ); /* Titik awal dan akhir, tidak ada perubahan vertikal */
  }
  45% {
    transform: translateX(-10px); /* Tengah animasi, mengangkat emoji ke atas */
  }
}
